body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Sans-Serif;
}

.topNav{
	color: white;
	padding-left: 1.5em;
}

.topNav li a{
	
	padding-right: 1.2em;
	padding-left: 1.2em;
	text-decoration:none;
}

.topNav li a:visited{
	
	color: white;
}

li{
	display: inline;
}

.searchRow {
	margin: auto;
	padding-left: 1em;
	padding-top: 1em;
	font-size: 60px;
	color: #ffb900;
	
}



#searchBar{
	width: 250px;
	height: 40px;
	
}

#searchButton{
	height: 40px;
	width: 40px;
	
}


#image {margin-right:10px;}
#form {display: inline-block;}

ul li ul.dropdown{
	min-width: 100%;
	background: #f2f2f2;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
	
}

ul li:hover ul.dropdown{
	display: block;
	
}

ul li ul.dropdown li{
	display: block;
}

ul{
	padding: 0;
	list-style: none;
	
	
}

.featureButton{
	min-width: 100%;
	height: 30px;
	
}

.featureButton:hover{
	background: #fff;
}

ul li{
	display: inline-block;
	position: relative;
	line-height: 21px;
	text-align: left;
	
}

ul li a{
	display: block;
	padding: 8px 25px;
	color: #333;
	text-decoration: none;
	
}

ul li a:hover{
	color: #fff;
	background: #939393;
	
}

footer{
	
	padding-top: 250px;
}

#rightBackgroundButton{
	
	float: right;
}



footer button{
	
	height: 40px;
}


#calculator{
	
	background: #cc476f;
	float:left;
	disaply: table;
	border: 2px solid black;
	width: 200px;
}

#calculator td{
	border: 3px solid black;
	border-collapse: collapse;
}


#calculator *{
	display: table-cell;
		
}

#calculator clear, valueBox{
	disaply: inline;
}

#bodyKeys button{
	
	wfidth: 25px;
}
